absl-py==1.4.0
aiobotocore==2.15.1
aiohappyeyeballs==2.4.2
aiohttp==3.10.8
aioitertools==0.12.0
aiosignal==1.3.1
annotated-types==0.7.0
anyio==3.7.1
appnope==0.1.4
asn1crypto==1.5.1
asttokens==2.4.1
atpublic==5.0
attrs==24.2.0
botocore==1.35.23
Bottleneck==1.3.7
Brotli==1.0.9
cachetools==5.5.0
certifi==2024.8.30
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
comm==0.2.2
contourpy==1.2.0
cryptography==43.0.0
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
exceptiongroup==1.2.2
executing==2.1.0
filelock==3.13.1
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2023.12.2
idna==3.7
imbalanced-learn==0.12.3
importlib_metadata==8.4.0
importlib_resources==6.4.5
ipykernel==6.29.5
ipython==8.27.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.4
llvmlite==0.43.0
MarkupSafe==2.1.3
matplotlib==3.9.2
matplotlib-inline==0.1.7
modin==0.28.1
multidict==6.1.0
nest_asyncio==1.6.0
numba==0.60.0
numexpr==2.8.7
numpy==1.26.0
packaging==23.2
pandas==2.2.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pip==24.2
platformdirs==4.2.2
prompt_toolkit==3.0.47
psutil==5.9.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pycparser==2.21
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
PyJWT==2.8.0
pyOpenSSL==24.2.1
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.9.0
python-dotenv==0.21.0
pytimeparse==1.1.8
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
requests==2.32.3
retrying==1.3.4
s3fs==2023.12.2
scikit-learn==1.2.2
scipy==1.13.1
setuptools==72.1.0
shap==0.46.0
six==1.16.0
slicer==0.0.8
sniffio==1.3.1
snowflake==0.12.1
snowflake-connector-python==3.12.1
snowflake.core==0.12.1
snowflake._legacy==0.12.1
snowflake-ml-python==1.6.1
snowflake-snowpark-python==1.20.0
sortedcontainers==2.4.0
sqlparse==0.5.1
stack-data==0.6.2
threadpoolctl==3.5.0
tomlkit==0.11.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.11.0
tzdata==2024.1
unicodedata2==15.1.0
urllib3==2.0.7
wcwidth==0.2.13
wheel==0.43.0
wrapt==1.16.0
xgboost==1.7.6
yarl==1.13.1
zipp==3.20.1
