imbalanced-learn==0.12.3
ipykernel==6.29.5
ipython==8.27.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
python-dotenv==0.21.0
scikit-learn==1.2.2
snowflake-snowpark-python==1.20.0
snowflake-ml-python==1.6.1
snowflake-snowpark-python[modin]
shap==0.46.0